/************** 
COLOR PALETTE
**************/

// Global Body Background
$bodybg : #E6E6E6;
$primaryColor : #000;
$secondaryColor: #4D4D4D;

/************** 
Typography
* https://fonts.google.com/specimen/Roboto+Mono
* font-family: 'Roboto Mono', monospace;
**************/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$font1 : 'Roboto Mono', monospace;
